Feature request: PGP key support

Hi,
I’d like to see PGP key support in contacts app to share them more easily across my devices.

See https://github.com/RainLoop/rainloop-webmail/issues/1116 as some docs have already been linked.
### Expected behaviour

Add PGP key to contacts from servers or manually. (ID or complete key)


The PHP-library [Net_DNS2](https://netdns2.com/) supports OpenPGPkey lookups. You can install it with [Pear](https://pear.php.net/package/Net_DNS2) or manually from [Github](https://github.com/mikepultz/netdns2). You need to include the class 'netdns2/Net/DNS2.php' (or '/usr/share/php/Net/DNS2.php' with Pear on Ubuntu) in your code. See the [code example](https://netdns2.com/documentation/examples/#Lookup_OpenPGPKey_Record).

Using the combination of public PGP keys in contacts according to [IETF RFC 6350 Section 6.8.1](https://tools.ietf.org/html/rfc6350) and regular scans for new and updated keys with [Net_DNS2](https://netdns2.com/) according to [IETF RFC 7929](https://tools.ietf.org/html/rfc7929) provides the users with all necessary means to send encrypted e-mails - even on their mobile devices via CardDAV.

The german email providers [Core Networks](https://www.core-networks.de/), [mail.de](https://mail.de) and [Posteo](https://posteo.de/) already publish OpenPGPkey-records. If you want to test your [Net_DNS2](https://netdns2.com/) integration you can look up the email-addresses info@core-networks.de, support@mail.de and support@posteo.de with [Net_DNS2](https://netdns2.com/). The result can be compared at [OPENPGPKEY.info](https://openpgpkey.info/)


As a first step I suggest to add a textarea to the email-address field to manually add/show the PGP-key in the contacts app. The second step should be a background service which scans for new/updated PGP-keys regularly.


@renne I'm sure we can add the KEY property, but I don't think we would add a background service for automatic scans. This app by now is a simple javascript only carddav client, connecting to the dav backend in the core cloud. Currently we have **no** intention change that:
- [ ] Add KEY property
- [X] ~~Background update service~~ (won't fix)


Indeed a full background service to keep all keys updated is probably not the focus of this app. 
But when adding key column anyway, would an interactive dialog then make sense? To fetch / identify matching keys from the servers? This appears to be a JS based solution with promising browser support, though I never used it myself: https://github.com/openpgpjs/openpgpjs